// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2022 FriendlyElec Computer Tech. Co., Ltd.
 * (http://www.friendlyelec.com)
 *
 * Copyright (c) 2021 Rockchip Electronics Co., Ltd.
 */

/dts-v1/;

#include "rk3588-nanopi6-common.dtsi"
#include "rk3588.dtsi"

/ {
	model = "FriendlyElec NanoiPC-T6";
	compatible = "friendlyelec,nanopc-t6", "rockchip,rk3588";

	aliases {
		ethernet0 = &r8125_u40;
		ethernet1 = &r8125_u12;
	};

	gpio_leds: gpio-leds {
		compatible = "gpio-leds";

		sys_led: led-0 {
			gpios = <&gpio1 RK_PB7 GPIO_ACTIVE_HIGH>;
			label = "sys_led";
			linux,default-trigger = "heartbeat";
			pinctrl-names = "default";
			pinctrl-0 = <&sys_led_pin>;
		};

		usr_led: led-1 {
			gpios = <&gpio1 RK_PC0 GPIO_ACTIVE_HIGH>;
			label = "usr_led";
			pinctrl-names = "default";
			pinctrl-0 = <&usr_led_pin>;
		};
	};

	vcc5v0_host_30: vcc5v0-host-30 {
		compatible = "regulator-fixed";
		enable-active-high;
		gpio = <&gpio4 RK_PB0 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&vcc5v0_host_30>;
		regulator-name = "vcc5v0_host_30";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		vin-supply = <&vcc5v0_usb>;
	};

	vcc3v3_pcie30: vcc3v3-pcie30 {
                compatible = "regulator-fixed";
                enable-active-high;
		gpio = <&gpio2 RK_PC5 GPIO_ACTIVE_HIGH>;
                pinctrl-names = "default";
                pinctrl-0 = <&pcie_m20_pwren>;
                regulator-name = "vcc3v3_pcie30";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
                vin-supply = <&vcc5v0_sys>;
        };

};

&mach {
	hwrev = <1>;
	model = "NanoPC-T6";
};

&pcie2x1l0 {
	rockchip,init-delay-ms = <100>;
	vpcie3v3-supply = <&vcc_3v3_pcie20>;
	reset-gpios = <&gpio1 RK_PB5 GPIO_ACTIVE_HIGH>;
	status = "okay";

	pcie20@0,0 {
		reg = <0x00200000 0 0 0 0>;
		#address-cells = <3>;
		#size-cells = <2>;

		r8125_u12: pcie20@0,0,0 {
			reg = <0x000000 0 0 0 0>;
			local-mac-address = [ 00 00 00 00 00 00 ];
		};
	};
};

&combphy1_ps {
	status = "okay";
};

&pcie30phy {
	status = "okay";
};

&pcie2x1l1 {
	reset-gpios = <&gpio1 RK_PA2 GPIO_ACTIVE_HIGH>;
};

&pcie2x1l2 {
	reset-gpios = <&gpio1 RK_PA4 GPIO_ACTIVE_HIGH>;
	pcie40@0,0 {
		reg = <0x00400000 0 0 0 0>;
		#address-cells = <3>;
		#size-cells = <2>;

		r8125_u40: pcie40@0,0,0 {
			reg = <0x000000 0 0 0 0>;
			local-mac-address = [ 00 00 00 00 00 00 ];
		};
	};
};

&pcie3x4 {
	status = "okay";
	vpcie3v3-supply = <&vcc3v3_pcie30>;
	reset-gpios = <&gpio4 RK_PB6 GPIO_ACTIVE_HIGH>;
};

&pinctrl {
	gpio-leds {
		sys_led_pin: sys-led-pin {
			rockchip,pins =
				<2 RK_PB7 RK_FUNC_GPIO &pcfg_pull_none>;
		};

		usr_led_pin: usr-led-pin {
			rockchip,pins =
				<2 RK_PC1 RK_FUNC_GPIO &pcfg_pull_none>;
		};

	};

	usb {
		vcc5v0_host30_en: vcc5v0-host30-en {
			rockchip,pins = <4 RK_PB0 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	headphone {
		hp_det: hp-det {
			rockchip,pins = <1 RK_PC4 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};


	pcie {
		pcie_m20_pwren: pcie-m20-pwren {
			rockchip,pins = <2 RK_PC5 RK_FUNC_GPIO &pcfg_pull_none>;
		};

		pcie_m21_pwren: pcie-m21-pwren {
			rockchip,pins = <4 RK_PC2 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};
};

&i2c6 {
	clock-frequency = <200000>;
	status = "okay";

	eeprom@53 {
		compatible = "microchip,24c02", "atmel,24c02";
		reg = <0x53>;
		#address-cells = <2>;
		#size-cells = <0>;
		pagesize = <16>;
		size = <256>;
		vcc-supply = <&vcc_3v3_s3>;

		eui_48: eui-48@fa {
			reg = <0xfa 0x06>;
		};
	};
};

&rng {
	status = "okay";
};

&u2phy0 {
	status = "okay";
};

&u2phy0_otg {
	phy-supply = <&vbus5v0_typec>;
	status = "okay";
};

&u2phy2 {
	status = "okay";
};

&u2phy2_host {
	status = "okay";
};


&usbdrd_dwc3_0 {
        dr_mode = "otg";
        usb-role-switch;

        port {
                #address-cells = <1>;
                #size-cells = <0>;
                dwc3_0_role_switch: endpoint@0 {
                        reg = <0>;
                        remote-endpoint = <&usbc0_role_sw>;
                };
        };
};


&usbdp_phy0 {
	orientation-switch;
	rockchip,dp-lane-mux = <0x00 0x01 0x02 0x03>;
	svid = <0xff01>;
	sbu1-dc-gpios = <&gpio4 RK_PA6 GPIO_ACTIVE_HIGH>;
	sbu2-dc-gpios = <&gpio4 RK_PA7 GPIO_ACTIVE_HIGH>;
	status = "okay";

        port {
                #address-cells = <1>;
                #size-cells = <0>;

                usbdp_phy0_orientation_switch: endpoint@0 {
                        reg = <0>;
                        remote-endpoint = <&usbc0_orien_sw>;
                };

                usbdp_phy0_dp_altmode_mux: endpoint@1 {
                        reg = <1>;
                        remote-endpoint = <&dp_altmode_mux>;
                };
        };
};

&usbdp_phy0_dp {
	status = "okay";
};

&usbdp_phy0_u3 {
	status = "okay";
};

&usbdp_phy1 {
	status = "okay";
};

&usbdp_phy1_u3 {
	status = "okay";
};

&u2phy1 {
	status = "okay";
};

&u2phy1_otg {
	status = "okay";
	phy-supply =<&vcc5v0_host_30>;
};

&usbdrd3_1 {
	status = "okay";
};

&usbdrd_dwc3_1 {
	status = "okay";
};

&i2s6_8ch {
	rockchip,always-on;
	rockchip,hdmi-path;
	rockchip,playback-only;
	status = "okay";
};

&i2s7_8ch {
	rockchip,capture-only;
	status = "okay";
};

&hdmi0 {
	cec-enable;
	enable-gpios = <&gpio4 RK_PB1 GPIO_ACTIVE_HIGH>;
	status = "okay";
};

&hdmi0_in_vp0 {
	status = "okay";
};

&hdmi1 {
	enable-gpios = <&gpio4 RK_PB2 GPIO_ACTIVE_HIGH>;
	status = "okay";
};

&hdmi1_in_vp1 {
	status = "okay";
};

&hdmirx_ctrler {
	status = "okay";
	hpd-trigger-level = <1>;
	hdmirx-det-gpios = <&gpio4 RK_PD5 GPIO_ACTIVE_LOW>;
};

&hdptxphy_hdmi1 {
	status = "okay";
};

&vp0 {
	rockchip,plane-mask = <(1 << ROCKCHIP_VOP2_CLUSTER0 | 1 << ROCKCHIP_VOP2_ESMART0 |
				1 << ROCKCHIP_VOP2_CLUSTER3 | 1 << ROCKCHIP_VOP2_ESMART3)>;
	rockchip,primary-plane = <ROCKCHIP_VOP2_ESMART0>;
	cursor-win-id = <ROCKCHIP_VOP2_ESMART3>;
};

&vp3 {
	/delete-property/ rockchip,plane-mask;
	/delete-property/ rockchip,primary-plane;
};

&i2c2 {
	usbc0: fusb302@22 {
		compatible = "fcs,fusb302";
		reg = <0x22>;
		interrupt-parent = <&gpio3>;
		interrupts = <RK_PB4 IRQ_TYPE_LEVEL_LOW>;
		pinctrl-names = "default";
		pinctrl-0 = <&usbc0_int>;
		vbus-supply = <&vbus5v0_typec>;
		status = "okay";

		ports {
			#address-cells = <1>;
			#size-cells = <0>;

			port@0 {
				reg = <0>;
				usbc0_role_sw: endpoint@0 {
					remote-endpoint = <&dwc3_0_role_switch>;
				};
			};
		};

		usb_con: connector {
			compatible = "usb-c-connector";
			label = "USB-C";
			data-role = "dual";
			power-role = "dual";
			try-power-role = "sink";
			op-sink-microwatt = <1000000>;
			sink-pdos =
				<PDO_FIXED(5000, 1000, PDO_FIXED_USB_COMM)>;
			source-pdos =
				<PDO_FIXED(5000, 3000, PDO_FIXED_USB_COMM)>;

			altmodes {
				#address-cells = <1>;
				#size-cells = <0>;

				altmode@0 {
					reg = <0>;
					svid = <0xff01>;
					vdo = <0xffffffff>;
				};
			};

			ports {
				#address-cells = <1>;
				#size-cells = <0>;

				port@0 {
					reg = <0>;
					usbc0_orien_sw: endpoint {
						remote-endpoint = <&usbdp_phy0_orientation_switch>;
					};
				};

				port@1 {
					reg = <1>;
					dp_altmode_mux: endpoint {
						remote-endpoint = <&usbdp_phy0_dp_altmode_mux>;
					};
				};
			};
		};
	};
};

&i2c7 {
	rt5616: rt5616@1b {
		compatible = "realtek,rt5616";
		reg = <0x1b>;
		pinctrl-names = "default";
		pinctrl-0 = <&i2s0_mclk>;
	};
};
